<script type="text/template" id="intensidad">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-intensidadForm">
    <% if(intensidad.id) {%>
    <input type="hidden" name="id" value="<%= intensidad.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= intensidad.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="valor">Valor</label>
    	<input type="text" class="form-control" id="valor" name="valor" placeholder="Enter value" value="<%= intensidad.get('valor') %>"/>	
		</div>
    </form>
    </div>
</script> 