<script type="text/template" id="paciente">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-pacienteForm">
    <% if(paciente.id) {%>
    <input type="hidden" name="id" value="<%= paciente.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= paciente.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="telefono">Telefono</label>
    	<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Enter value" value="<%= paciente.get('telefono') %>"/>	
		</div>
		<div class="form-group" >
		<label for="usuario">Usuario</label>
    	<input type="text" class="form-control" id="usuario" name="usuario" placeholder="Enter value" value="<%= paciente.get('usuario') %>"/>	
		</div>
		<div class="form-group" >
		<label for="contraseña">Contraseña</label>
    	<input type="text" class="form-control" id="contraseña" name="contraseña" placeholder="Enter value" value="<%= paciente.get('contraseña') %>"/>	
		</div>
    </form>
    </div>
</script> 